target
node_modules
packages/bench/.compare
packages/native/index.js
packages/native/index.d.ts
*.node
package-template.wasi-browser.js
package-template.wasi.cjs
wasi-worker-browser.mjs
wasi-worker.mjs
